* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

.container {
    display: grid;              /* Enable CSS Grid */
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px;
}

.formula {
    height: 460px; 
    width: 600px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="number"],
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: calc(100% - 20px);
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

input[disabled] {
    background-color: #e9ecef;
    font-family: Arial, Helvetica, sans-serif;
}

.space {
    color: white;
}

@media (min-width: 600px) {
    .formula {
        max-width: 500px;
        margin: 0 auto;
    }
}
