.popcornbag {
    position: absolute;
    top: 270px;
    right: -65px;
    width: 555px;
    height: 600px;
}

.movies {
    position: absolute;
    top: 200px;
    right: var(--right-position);
    display: flex;
    flex-direction: column;
    align-items: center;

    column-gap: 15px;
}

.movierow1 {
    flex: 1;
    width: auto;
}

.movierow2 {
    flex: 1;
}

.movie {
    width: 100px;
    height: 160px;  /* 5:8 ratio */
    opacity: 90%;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}