:root {
    --button-font: "Rubik";
    --button-radius: 3px;
    --right-position: 60px;
}

* {
    margin: 0px;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: rgb(147, 118, 118);  /*27, 18, 18*/
    background-repeat: no-repeat;
}

.homepage {
    position: absolute;
    display: inline-block;
    margin-top: 130px;
    margin-left: 30px;
}

h1 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 55px;
    letter-spacing: -1px;
    color: white;
    margin-bottom: 20px;
}

.startsatpi-text {
    width: auto;
    font-family: "Karla";
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0px;
    font-size: 22px;
    margin-left: 3px;
    color: white;
    margin-top: 35px;
    margin-bottom: 20px;
}

.email-inputbox {
    height: 58px;
    width: 300px;
    border: none;
    border-color: gray;
    border-radius: var(--button-radius);
    outline: none;

    color: gray;
    text-indent: 15px;
    font-size: 18px;
    font-family: var(--button-font);
}

.getstarted-button {
    background-color: rgb(218, 4, 4);
    height: 60px;
    width: 170px;
    border: none;
    border-radius: var(--button-radius);
    cursor: pointer;
    padding-bottom: 2px;

    color: white;
    font-size: 19px;
    font-family: var(--button-font);

    transition: background-color 0.3s;
}

.getstarted-button:hover {
    background-color: rgb(187, 11, 20);
}

.popcornbag {
    position: absolute; top: 470px; right: 0px;
    width: 520px;
    height: 580px;
}