@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --button-font: "Rubik";
    --button-radius: 3px;
    --right-position: 60px;
}

* {
    margin: 0px;
}

.background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(27, 18, 18);  /*27, 18, 18*/
    background-repeat: no-repeat;
}

.homepage {
    position: absolute;
    display: inline-block;
    margin-top: 130px;
    margin-left: 30px;
}

h1 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 55px;
    letter-spacing: -1px;
    color: white;
    margin-bottom: 20px;
    text-shadow: 0 0 3px rgb(27, 18, 18), 0 0 5px rgb(27, 18, 18);
}

.startsatpi-text {
    width: auto;
    font-family: "Karla";
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0px;
    font-size: 22px;
    margin-left: 3px;
    color: white;
    margin-top: 35px;
    margin-bottom: 20px;
}

.email-inputbox {
    height: 55px;
    width: 340px;
    border: none;
    border-color: gray;
    border-radius: var(--button-radius);
    outline: none;

    color: gray;
    text-indent: 15px;
    font-size: 18px;
    font-family: var(--button-font);
    padding: 5px;
}

.getstarted-button {
    background-color: rgb(218, 4, 4);
    height: 63px;
    width: 170px;
    border: none;
    border-radius: var(--button-radius);
    cursor: pointer;
    padding: 10px;
    left: 360px;
    top: 147px;

    color: white;
    font-size: 19px;
    font-family: var(--button-font);

    transition: background-color 0.3s;
}

.getstarted-button:hover {
    background-color: rgb(187, 11, 20);
}

.popcornbag {
    position: absolute; top: 470px; right: 0px;
    width: 520px;
    height: 580px;
}